<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventario Medigroup</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-stone-100 min-h-screen">
    <div class="container mx-auto px-4 py-8 space-y-6">
      <h1 class="text-3xl font-bold">Gestor de personal</h1>

      <div class="flex flex-col md:flex-row justify-between gap-4">
        

        <a
          href="#"
          class="bg-slate-800 hover:bg-blue-600 text-white px-4 py-2 rounded text-sm self-start"
        >
          Agregar empleado
        </a>
      </div>

      <!-- Table -->
      <div class="overflow-x-auto bg-white rounded shadow">
        <table class="min-w-full text-sm">
          <thead class="bg-blue-500 text-white uppercase text-xs tracking-wider">
            <tr>
              <th class="text-left py-2 px-4 border-b">ID</th>
              <th class="text-left py-2 px-4 border-b">Nombre</th>
              <th class="text-left py-2 px-4 border-b">Apellido</th>
              <th class="text-left py-2 px-4 border-b">Area</th>
              <th class="text-ri py-2 px-4 border-b"></th>
            </tr>
          </thead>
          <tbody>
            <!-- Mock Row 1 -->
            <tr>
              <td class="py-2 px-4 border-b">1</td>
              <td class="py-2 px-4 border-b">Paracetamol</td>
              <td class="py-2 px-4 border-b">Analgésicos</td>
              <td class="py-2 px-4 border-b">50</td>
              <td class="py-2 px-4 border-b">
                <a
                  href="#"
                  class="bg-yellow-500 hover:bg-yellow-600 text-white px-3 py-1 rounded mr-2"
                  >Editar</a
                >
                <button
                  class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded"
                >
                  Eliminar
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
